<div class="ateam-hero d-flex justify-content-center align-items-center">
  <div class="text-shadow-sm">
    <h1 class="display-4 fw-bolder text-white mb-3">Join the <span class="text-secondary-lighter">A-Team</span>
    </h1>
    <p class="fs-3 text-center text-white">Make an <span class="text-secondary-lighter fw-bold fst-italic">Impact</span>,
      Have Fun</p>
  </div>
</div>
<main>
  <section class="py-5">
    <div class="container">
      <h2 class="text-secondary text-center fw-bolder text-shadow-xs">
        <span class="text-primary fst-italic">IMAGINE...</span> spending time with other <span class="text-primary fst-italic">A-Players</span>, the <span class="text-primary fst-italic">Top-Talent</span> that
        also draws inspiration and
        creativity from their connection
        to other <span class="text-primary fst-italic">Top-Talent</span>.
      </h2>
      <p class="text-center fs-4 text-shadow-xs">Making an <span class="text-secondary fw-bolder fst-italic">IMPACT</span>
        across a
        variety of projects, sharpening skills through
        experience while helping
        others move forward in their FPGA journey.</p>
      <div class="d-flex justify-content-center mt-5">
        <a href="#opportunities" class="btn btn-primary btn-lg w-auto mt-3 mt-md-0">View Opportunities with Xlera
          Solutions</a>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-5 offset-lg-1 d-flex align-items-center mb-5 mb-lg-0">
          <p class="text-primary fs-3 text-shadow-xs">Learn why it’s a special opportunity to be on the Xlera Solutions
            A-Team
          </p>
        </div>
        <div class="col-12 col-lg-5 mt-4 mt-md-0">
          <div class="ratio ratio-16x9">
            <video poster="/video/placeholder-video-poster.png" loop="true" disablepictureinpicture="true" playsinline="true" controls>
              <source src="/video/placeholder-video.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-secondary-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-5 offset-lg-1 mt-4 mt-md-0 order-2 order-lg-1">
          <div class="ratio ratio-16x9">
            <video poster="/video/placeholder-video-poster.png" loop="true" disablepictureinpicture="true" playsinline="true" controls>
              <source src="/video/placeholder-video.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
        <div class="col-12 col-lg-5 order-1 order-md-1 order-lg-2">
          <div class="d-flex align-items-center h-100 w-100 mb-5 mb-lg-0">
            <p class="text-primary fs-3 text-shadow-xs">Learn More About Our Unique Hiring Process</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pb-5 pt-10" id="opportunities">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-shadow-sm">OPPORTUNITIES</h2>
          <p>Introduce yourself today</p>
          <p><span class="fw-bolder">Roles Available:</span> Contract, Temp-To-Hire, Employee, Freelance.</p>
        </div>
      </div>
      <div class="row">
        <% opportunities.forEach((item, index) => { %>
        <div class="col-12 col-lg-6">
          <div class="card mb-3" style="max-width: 540px;">
            <% if(!("page" in item)) { %>
            <a href="/opportunity/<%= item.slug %>">
              <% } else { %>
              <a href="/qlr">
                <% } %>
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="<%= item.image %>" class="img-fluid rounded-start" alt="<%= item.name %>">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h6 class="card-title text-shadow-xs"><%= item.name %></h6>
                      <p class="card-text fs-7 mb-0"><%= item.brief %></p>
                    </div>
                  </div>
                </div>
              </a>
          </div>
        </div>
        <% }); %>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="text-center mt-4 fs-5">
            <span class="fw-bold" data-bs-toggle="tooltip" data-bs-placement="top" title="MAC COMMAND+D WINDOWS CTRL+D">Bookmark This Page</span> to Check Back Often For NEW Opportunities
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-secondary text-center fw-bolder mb-4 text-shadow-sm">
            AND BEST OF ALL…
          </h1>
          <p>When you join the Xlera Solutions A-Team you get to work with a hand-selected and
            battle-tested badass team of
            extraordinary people passionately engaged in stepping up, going beyond, and striving to
            deliver the best possible client
            experience EVERY DAY. Being a guide those that choose to be everyone’s favorite go-to,
            on-top-of-it, FPGA project leader
            that delivers consistent victories.</p>
          <p class="fw-bolder fs-3">Our work is our art.</p>
          <p>We pursue it with a relentless commitment to EXCELLENCE.
            And constantly strive to be better every day.</p>
          <p>We are not looking for the average or the norm...<br>
            We seek <span class="text-secondary fw-bold fs-5 fst-italic text-shadow-sm">THE EXCEPTION</span>.</p>
          <p>Those unusually driven, challenge oriented, GROWTH-minded A-players who have grit and love to
            hustle. Most don’t. We
            understand that.</p>
          <p class="fw-bolder fs-3">Are you <span class="text-secondary text-shadow-sm">THE EXCEPTION?</span></p>
          <p>Does this have you saying, <span class="text-secondary fw-bolder fs-5 text-shadow-xs">&ldquo;HELL YEAH!&rdquo;</span>?</p>
          <p>If so then we invite you to answer the call.<br>
            To step up and join us on our journey.<br>
            We can promise you, it will be one of the most rewarding experiences of your life.</p>

        </div>
      </div>
    </div>
  </section>